<a href="https://colab.research.google.com/github/2002hk/Python_concepts/blob/main/100_Python_Practice_Problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

Q1.User will input (3ages).Find the oldest one

In [9]:
L = []
n = int(input('Number of elements? '))

# Input elements into the list
for i in range(n):
    ele = int(input())
    L.append(ele)

L.sort(reverse=True)
print(L[0])

Number of elements? 3
6
3
8
8

  Q2.Write a program that will convert celsius value to fahrenheit

In [10]:
a=int(input("Enter the number to convert into fahrenheit"))
f=(a*9/5)+32
print(f)

Enter the number to convert into fahrenheit0
32.0

Q3.User will input (2numbers).Write a program to swap the numbers

In [12]:
a=int(input())
b=int(input())
c=b
b=a
a=c
print(a,b)

6
4
4 6

Q4.Write a program that will give you the sum of 3 digits

In [13]:
a=input()
if len(a)==3 and a.isdigit():
  sum=int(a[0])+int(a[1])+int(a[2])
  print(sum)

345
12

Q5.Write a program that will reverse a four digit number.Also it checks whether the reverse is true.

In [16]:
a=input()
rev=a[::-1]
print(rev)
if a==rev:
  print('True')

1221
1221
True

  Q6.Write a program that will tell whether the number entered by the user is odd or even.

In [17]:
a=int(input())
if a%2==0:
  print('even')
else:
  print('odd')

22
even

Q7.Write a program that will tell whether the given year is a leap year or not.

In [18]:
# Input a year from the user
year = int(input("Enter a year: "))

# Check if the year is a leap year
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2002
2002 is not a leap year.

Q8.Write a program to find the euclidean distance between two coordinates.

In [22]:
import math
x1=int(input())
y1=int(input())
x2=int(input())
y2=int(input())
d=math.sqrt((x2-x1)**2+(y2-y1)**2)
print(d)

8
5
8
9
4.0

Q9.Write a program that take a user inputr of three angles and will find out whether it can form a triangle or not.

In [24]:
a=int(input())
b=int(input())
c=int(input())
if a+b+c==180:
  print('Can form a traingle')
else:
  print('Cannot form a triangle')

60
90
30
Can form a traingle

Q10.Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit

In [26]:
cp=int(input())
sp=int(input())
if cp>sp:
  l=cp-sp
  print('It is a Loss of ',l)
elif sp>cp:
  p=sp-cp
  print('It is a Profit of ',p)
else:
  print('No profit No loss')

50
50
No profit No loss

Q11.Write a program to find the simple interest when the value of principle,rate of interest and time period is given.

In [27]:
p=1000
r=2
t=2
si=p*r*t/100
print(si)

40.0

Q12.Write a program to find the volume of the cylinder. Also find the cost when ,when the cost of 1litre milk is 40Rs.

In [29]:
h=int(input())
r=int(input())
v=3.14*r**2*h
print(v)
#1 li=1000cubic cm
liter=v/1000
total_cost=40*liter
print(total_cost)

45
6
5086.8
203.472

Q13.Write  a program that will tell whether the given number is divisible by 3 & 6.

In [31]:
a=int(input())
if a%3==0 and a%6==0:
  print('Is divisible by 6 and 3')
else:
  print('Not divisible by 3 and 6')

3
Not divisible by 3 and 6

Q14.Angle between hour and minute hand
Difficulty: BasicAccuracy: 15.91%Submissions: 56K+Points: 1
Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.


Example 1:

Input:
H = 9 , M = 0
Output:
90
Explanation:
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [37]:
def calculate_angle(hour, minute):
    # Calculate the angle of the minute hand
    minute_angle = minute * 6

    # Calculate the angle of the hour hand
    hour_angle = (hour % 12) * 30 + minute * 0.5

    # Calculate the absolute difference between the two angles
    angle = abs(hour_angle - minute_angle)

    # Ensure the angle is the smaller of the two possible angles
    smaller_angle = min(angle, 360 - angle)

    return smaller_angle

# Input the hour and minute
hour = int(input("Enter the hour (1-12): "))
minute = int(input("Enter the minutes (0-59): "))

# Calculate and print the angle
angle = calculate_angle(hour, minute)
print(f"The angle between the hour and minute hands is: {angle}°")

Enter the hour (1-12): 6
Enter the minutes (0-59): 30

TypeError: 'int' object is not callable

Q15.Overlapping rectangles

Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

Example 1:

Input:
L1=(0,10)
R1=(10,0)
L2=(5,5)
R2=(15,0)
Output:
1
Explanation:
The rectangles overlap.

Q16.Write a program that will determine weather when the value of temperature and humidity is provided by the user.
TEMPERATURE(C)      HUMIDITY(%)      WEATHER

      >= 30                             >=90                Hot and Humid
      >= 30                             < 90                 Hot
      <30                                >= 90               Cool and Humid
      <30                                 <90                 Cool

In [1]:
temp=int(input())
hum=int(input())
if temp>=30 and hum>=90:
  print('hot and humid')
elif temp>=30 and hum<90:
  print('Hot')
elif temp<30 and hum>=90:
  print('cold and humid')
else:
  print('cool')

31
91
hot and humid

Q17.Write a program that will take three digits from the user and add the square of each digit.

In [2]:
L=[]
for i in range(0,3):
  a=int(input())
  L.append(a)
sum=L[0]**2+L[1]**2+L[2]**2
print(sum)

2
3
4
29

Q18.Write a program that will check whether the number is armstrong number or not.

In [6]:
a=input()
sum=int(a[0])**3+ int(a[1])**3 + int(a[2])**3
if str(sum)==a:
  print('Yes')
else:
  print('False')

153
Yes

Q19.Write a program that will take user input of (4 digits number) and check whether the number is narcissist number or not

In [7]:
a=input()
sum=int(a[0])**4+ int(a[1])**4 + int(a[2])**4+int(a[3])**4
if str(sum)==a:
  print('Yes')
else:
  print('False')

9474
Yes

Q20.Write a program that will give you the in hand salary after deduction of HRA(10%),DA(5%),PF(3%), and tax(if salary is between 5-10 lakh–10%),(11-20lakh–20%),(20< _   – 30%)(0-1lakh print k).

In [4]:
a=int(input())
#a=a-a*(10/100)-a*(5/100)-a*(3/100)
b=a*(1-(10/100)-(5/100)-(3/100))
print(b)
if a>500000 and a<1000000:
  b=b-b*(10/100)
  print(b)
elif a>1100000 and a<2000000:
  b=b-b*(20/100)
  print(b)
elif a>20:
  b=b-b*(3/100)
  print(b)
else:
  print(b)

5000
4100.0
3977.0

Q21.Write a menu driven program - 1.cm to ft  2.kl to miles  3.usd to inr  4.exit

Q22.Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

In [5]:
def calculate_animals(heads, legs):
    # heads = x + y (total number of chickens and dogs)
    # legs = 2x + 4y (legs of chickens and dogs)

    if legs % 2 != 0:
        return "Invalid input: Number of legs must be even."

    # Solve the system of equations
    chickens = (4 * heads - legs) // 2
    dogs = heads - chickens

    if chickens < 0 or dogs < 0:
        return "Invalid input: The number of animals doesn't make sense."

    return chickens, dogs

# Example usage
total_heads = int(input("Enter total number of heads: "))
total_legs = int(input("Enter total number of legs: "))

result = calculate_animals(total_heads, total_legs)

if isinstance(result, str):
    print(result)  # Print error message
else:
    chickens, dogs = result
    print(f"Number of chickens: {chickens}")
    print(f"Number of dogs: {dogs}")

Enter total number of heads: 2
Enter total number of legs: 6
Number of chickens: 1
Number of dogs: 1

Q23.Write a program that will swap numbers

In [6]:
a=int(input())
b=int(input())
c=b
b=a
a=c
print(a,b)

2
3
3 2

Q24.Write a program to find the sum of first n numbers, where n will be provided by the user. Eg if the user provides n=10 the output should be 55.

In [8]:
n=int(input())
sum=n*(n+1)/2
print(sum)

10
55.0

  Q25.Write a program that can multiply 2 numbers provided by the user without using the * operator

In [10]:
a=int(input())
b=int(input())
#axb
#2X5=2+2+2+2+2
sum=0
for i in range(1,b+1):
  sum=sum+a
print(sum)

7
5
35

Q26.Write a program that can find the factorial of a given number provided by the user.

In [15]:
a=int(input())
fact=1
if a==1 or a==0:
  print(1)
else:
  for i in range(1,a+1):
    fact=fact*i
  print(fact)

5
120

Q27.Write a program to print the first 25 odd numbers

In [23]:
n=25
count=0
for i in range(1,50):
  if i%2==0:
    continue
  else:
    print(i)
    count=count+1
print('total odd numbers are: ',count)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
total odd numbers are:  25

Q28.Write a program to print whether a given number is prime number or not

In [27]:
a = int(input("Enter a number: "))
if a < 2:
    print('not a prime number')
else:
    is_prime = True
    for i in range(2, int(a**0.5) + 1):
        if a % i == 0:
            is_prime = False
            break
    if is_prime:
        print('is a prime number')
    else:
        print('not a prime number')

Enter a number: 21
not a prime number

Q29.print all the armstrong numbers in the range of 100 to 1000

In [2]:
for num in range(100,1000):
  digits=str(num)
  sum_of_cube= sum(int(i)**3 for i in digits)
  if sum_of_cube==num:
    print(num)

153
370
371
407

Q30.The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years. For eg current population is 10000 so the output should be like this:
10th year - 10000
9th year - 9000
8th year - 8100 and so on

In [5]:
pop=10000
print(pop)
pop=pop-pop*(10/100)
print(pop)
pop=pop-pop*(10/100)
print(pop)

10000
9000.0
8100.0

In [9]:
pop=10000
print(pop)
for i in range(9,0,-1):
  pop=pop-pop*(10/100)
  print(f"{i}th year - {int(pop)}")

10000
9th year - 9000
8th year - 8100
7th year - 7290
6th year - 6561
5th year - 5904
4th year - 5314
3th year - 4782
2th year - 4304
1th year - 3874

Q31.Write a program to print all the unique combinations of 1,2,3 and 4

In [17]:
num=[1,2,3,4]
#remaining_nums = nums[:i] + nums[i+1:]
print(num[:0]+num[1:])

[2, 3, 4]